.content {

}
.logo {

}
body {
    font-family: 'PT Sans', sans-serif;
    min-width: 1190px;
}
nav {
    display: block;
    width: 1170px;
    margin: 0 auto;
}
nav .logo {
    display: inline-block;
    width: 200px;
    height: 100px;
    vertical-align: middle;
    padding-top: 36px;
}
nav ul {
    width: 900px;
    float: right;
    text-align: right;
    padding: 0;
    margin: 0;
}
nav li {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    line-height: 100px;
    margin-left: 60px;
}
nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}
header {
    width: 100%;
    background: url("../img/main-bg.jpg") center no-repeat;
    background-size: cover;
}

header .title {
    margin: 0 auto;
    margin-top: 154px;
    font-size: 64px;
    line-height: 71px;
    font-weight: 700;
    text-transform: uppercase;
    font-family:"PT Sans", sans-serif;
    text-align: center;
    width:970px;
    color: #fff;
    padding-bottom: 155px;

}
header .title p {
    text-transform: none;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
}
.btn-red {
    display: inline-block;
    background-color: #e84545;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size:13px;
    font-weight:500;
    color: #fff;
    width: 200px;
    height: 46px;
    line-height: 46px;
    margin-top: 78px;
    border-radius: 2px;
}
.content {
    width: 1170px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 60px;
}
.text-block .sub-text {
    font-weight: 400;
    color: #6c7279;
    font-size: 14px;
    font-family:  'Raleway', sans-serif;
}
.text-block .title {
    font-weight:700;
    font-size: 14px;
    color: #2d3033;
    font-family:  'Raleway', sans-serif;
    margin-bottom: 10px;
}
.text-block .icon {
    margin-bottom: 15px;
}
.text-block {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-left: 45px;
    padding-right:45px;
    box-sizing: border-box;
    margin-bottom:50px;
}
.col-33 .sub-text {
    font-size: 14px;
    color: #fff;
    line-height:22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.col-33 .title {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.col-33 {
    margin-top: 70px;
    display: inline-block;
    text-align: center;
    width: 33%;
    vertical-align: top;
    color: #fff;
    padding-bottom: 85px;
}
.adapt-img:hover .text {
    opacity: 1;
}
.adapt-img:hover:before {
    opacity: 0.9;
}


.adapt-img .text {
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: relative;
    margin-top: 30%;
}
.adapt-img:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d44140;
    opacity: 0;
    transition: opacity 0.3s ease;
    left: 0;
    top: 0;
}
.adapt-img .sub-title {
    font-size: 14px;
    color: #fff;
    line-height:22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.adapt-img .title {
    font-weight:700;
    font-size: 14px;
    color: #fff;
    font-family:  'Raleway', sans-serif;
    margin-bottom: 4px;
}
.adapt-img {
    width: 25%;
    height: 0;
    padding-bottom: 20%;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.gallery {
    width: 100%;
}
.footer-nav {
    text-align: center;
    width: 1170px;
    margin: 0 auto;
}
footer {
    background-color: #3a3e64;
}
.copyright .white-text {
    color: #fff;
}
.copyright p {
    color: #808080;
    font-size: 14px;
    line-height: 22px;
    font-family: "PT Sans", sans-serif;
    font-weight:400;
    margin: 0;
    padding: 0;

}
.copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #313454;
    text-align: center;
}
